.about-bgImg-container {
  border: 2px solid red;
  @include bgImage(50vh, $main-bgImage-path);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .about__bio-image {
    text-align: center;
  }
}
