//*****************************************************
//*   HOME PAGE
//*****************************************************

.home-bgImg-container {
  @include bgImage(100vh, $main-bgImage-path);
}

.home {
  border: 2px solid red;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &__name {
    font-size: 5rem;
  }
}
